.password-input-container {
  display: flex;
  flex-direction: column;
  width: 300px; /* Adjust as needed */
}

.input-wrapper {
  position: relative;
}

.password-input {
  width: 91%;
  padding: 12px;
  margin-left:18px;
  padding-right: 40px; /* Add padding to the right to make space for the icon */
  box-sizing: border-box; /* Include padding in the total width */
}

.toggle-button {
  position: absolute;
  right: 20px; /* Position the button inside the input */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for perfect centering */
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.toggle-button:hover {
  opacity: 0.8; /* Optional: Add hover effect */
}
